<div class='modal fade form-modal' id='borrower_info_modal' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
        <h4 class='modal-title'>Update Borrower Information</h4>
      </div>

      <%= form_tag({remote: true}, id: 'borrower_info_form') do |f| %>

          <div class='modal-body'>

            <div class="alert alert-success">Book is being saved</div>
            <div class="alert alert-info">
              <div class="loader">Saving</div>
            </div>
            <div class="alert alert-danger">Error during saving of the form</div>

            <div class='form-horizontal'>
              <div class='row'>
                <div class="col-lg-6">
                  <div class='form-group'>
                    <%= label_tag 'name', nil, class: 'col-lg-3 control-label' %>
                    <div class='col-lg-8'>
                      <%= text_field_tag 'name', nil, class: 'form-control'%>
                      <div class='errors borrower_id-errors'></div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class='form-group'>
                    <%= label_tag 'date_of_borrowing', nil, class: 'col-lg-3 control-label' %>
                    <div class='col-lg-8'>
                      <div class="input-group">
                        <%= text_field_tag 'date_of_borrowing', nil, class: 'form-control' %>
                        <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                      </div>
                      <div class='errors date_of_borrowing-errors'></div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class='modal-footer'>
            <%= submit_tag 'Save', class: 'btn btn-primary save-form', id: 'save_form' %>
          </div>
      <% end %>
    </div>
  </div>
</div>
