<div class='modal fade form-modal' id='addBookModal' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
        <h4 class='modal-title' id='myModalLabel'>Add New Book</h4>
      </div>

      <%= form_for @book, remote: true do |f| %>
          <div class='modal-body'>

            <div class="alert alert-success">Book is being saved</div>
            <div class="alert alert-info">
              <div class="loader">Saving</div>
            </div>
            <div class="alert alert-danger">Error during saving of the form</div>

            <div class='form-horizontal'>
              <div class='row'>
                <div class="col-lg-8 col-md-9 col-sm-8">
                  <div class='form-group'>
                    <div class='row'>

                      <%= f.label :Title, class: 'col-lg-offset-1 col-lg-1 col-md-1 col-sm-2 col-xs-2 control-label', disabled: true %>
                      <div class='col-lg-4 col-md-4 col-sm-9 col-xs-9'>
                        <%= f.text_field :title, class: 'form-control' %>
                        <div class='errors title-errors'></div>
                      </div>

                      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 search-book">
                        <button type='button' class='btn' id='title_search_button'>
                          <span class='glyphicon glyphicon-search'></span>
                        </button>
                      </div>

                      <%= f.label :edition, class: 'col-lg-1 col-md-2 col-sm-2 col-xs-2 control-label' %>
                      <div class='col-lg-4 col-md-4 col-sm-9 col-xs-10 '>
                        <%= f.text_field :edition, class: 'form-control' %>
                        <div class='errors edition-errors'></div>
                      </div>
                    </div>
                  </div>

                  <div class='row'>
                    <div class='form-group'>
                      <%= f.label :isbn, class: 'col-lg-offset-1 col-lg-1 col-md-1 col-sm-2 col-xs-2 control-label' %>
                      <div class='col-lg-4 col-md-4 col-sm-9 col-xs-9'>
                        <%= f.text_field :isbn, class: 'form-control', id: 'book_isbn' %>
                        <div class='errors isbn-errors'></div>
                      </div>

                      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 search-book">
                        <button type='button' class='btn' id='ISBN_search_button'>
                          <span class='glyphicon glyphicon-search'></span>
                        </button>
                      </div>

                      <%= f.label :author, class: 'col-lg-1 col-md-2 col-sm-2 col-xs-2 control-label', disabled: true %>
                      <div class='col-lg-4 col-md-4 col-sm-9 col-xs-10'>
                        <%= f.text_field :author, class: 'form-control' %>
                        <div class='errors author-errors'></div>
                      </div>
                    </div>
                  </div>

                  <div class='row'>
                    <div class="form-group">

                      <%= label_tag 'tag', nil, class: 'col-lg-offset-1 col-lg-1 col-md-1 col-sm-2 col-xs-2 control-label', disabled: true %>
                      <div class='col-lg-4 col-md-4 col-sm-9 col-xs-9'>
                        <%= text_field_tag 'tags', nil, class: 'form-control', 'data-role' => 'tagsinput' %>
                        <div class='errors tags-errors'></div>
                      </div>

                      <%= f.label :description, class: 'col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label', disabled: true %>
                      <div class='col-lg-4 col-md-4 col-sm-9 col-xs-10'>
                        <%= f.text_area :description, class: 'form-control' %>
                        <div class='errors description-errors'></div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-3 col-sm-4">
                  <img id="book_image" src=""/>
                </div>
              </div>
            </div>
          </div>


          <div class='modal-footer'>
            <%= f.submit class: 'btn btn-primary save-form', id: 'save_and_add_another', value: 'Save And Add Another' %>
            <%= f.submit class: 'btn btn-primary save-form', id: 'save_form', value: 'Save' %>
          </div>
      <% end %>
    </div>
  </div>
</div>

