  <div class='modal fade' id='addBookModal' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
    <div class='modal-dialog'>
      <div class='modal-content'>
        <div class='modal-header'>
          <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
          <h4 class='modal-title' id='myModalLabel'>Add New Book</h4>
        </div>

        <%= form_for @book, remote: true do |f| %>
            <div class='modal-body'>
              <div class='form-horizontal'>


                <% if @book.errors.any? %>
                    <div class='row'>
                      <div class='col-sm-offset-1 col-sm-1'></div>
                      <div id='error_explanation' class='col-sm-10 '>
                        <h2><%= pluralize(@book.errors.count, 'error') %> prohibited
                          this post from being saved:</h2>
                        <ul>
                          <% @book.errors.full_messages.each do |msg| %>
                              <li class='error'><%= msg %></li>
                          <% end %>
                        </ul>
                      </div>
                    </div>
                <% end %>

                <div class='row'>
                  <div class='form-group'>

                    <%= f.label :isbn, class: 'col-sm-offset-1 col-sm-1 control-label' %>
                    <div class='col-sm-3'>
                      <%= f.text_field :isbn, class: 'form-control', id: 'book_isbn', required: 'true' %>
                    </div>

                    <button type='button' class='btn' id='search-button'>
                      <span class='glyphicon glyphicon-search'></span>
                    </button>

                  </div>
                </div>

                <div class='row'>
                  <div class='form-group'>
                    <%= f.label :Title, class: 'col-sm-offset-1 col-sm-1 control-label' %>
                    <div class='col-sm-3'>
                      <%= f.text_field :title, id: 'title', class: 'form-control', required: 'true' %>
                    </div>

                    <%= f.label :author, class: 'col-sm-2 control-label' %>
                    <div class='col-sm-3'>
                      <%= f.text_field :author, id: 'author', class: 'form-control', required: 'true' %>
                    </div>
                  </div>
                </div>

                <div class='row'>
                  <div class='form-group'>
                    <%= f.label :description, class: 'col-sm-2 control-label' %>
                    <div class='col-sm-4'>
                      <%= f.text_area :description, id:'description', class: 'form-control', required: 'true' %>
                    </div>
                  </div>
                </div>
        <% end %>
      </div>
    </div>
  </div>


