<% if notice %>

    <div class='alert alert-success'>
      <b><%= notice %></b> has been added to your collection.
    </div>
<% end %>

<% if @books.empty? %>
    <div class='alert alert-info'>
      No books found.
    </div>
<% else %>
    <div class='book-blocks clearfix'>
      <% @books.each do |book|  %>
          <div class='col-lg-3 col-md-4 col-sm-6'>
            <div class='block'>
              <div class='image'></div>
              <div class='row'>
                <label class='col-lg-offset-2 col-lg-4 col-md-6 col-sm-6 col-xs-6 control-label'>Title:</label>
                <span class='col-lg-offset-2 col-lg-4 col-md-6 col-sm-6 col-xs-6'><%= book.title %></span>
              </div>
              <div class='row'>
                <label class='col-lg-offset-2 col-lg-4 col-md-6 col-sm-6 col-xs-6 control-label'>Author:</label>
                <span class='col-lg-offset-2 col-lg-4 col-md-6 col-sm-6 col-xs-6'><%= book.author %></span>
              </div>
              <div class='row'>
                <label class='col-lg-offset-2 col-lg-4 col-md-6 col-sm-6 col-xs-6 control-label'>ISBN:</label>
                <span class='col-lg-offset-2 col-lg-4 col-md-6 col-sm-6 col-xs-6'><%= book.isbn %></span>
              </div>
              <div class='row'>
                <label class='col-lg-offset-2 col-lg-4 col-md-6 col-sm-6 col-xs-6 control-label'>Edition:</label>
                <span class='col-lg-offset-2 col-lg-4 col-md-6 col-sm-6 col-xs-6'><%= book.edition %></span>
              </div>
              <div class='row'>
                <label class='col-lg-offset-2 col-lg-4 col-md-6 col-sm-6 col-xs-6 control-label'>No of Copies:</label>
                <span class='col-lg-offset-2 col-lg-4 col-md-6 col-sm-6 col-xs-6'><%= @copies[book.isbn]  %></span>
              </div>
            </div>
          </div>
      <% end %>
    </div>
<% end %>
