<div class="row">

  <input type="hidden" value= "<%= @book.id %>" class="book-id"/>
  <div class="col-lg-4">
    <img src="<%= @book.image_url %>"/>
  </div>

  <div class="col-lg-8">

    <div class="row">
      <label class="col-lg-3">Title:</label>

      <div class="col-lg-9">
        <%= @book.title %>
      </div>
    </div>

    <div class="row">
      <label class="col-lg-3">Authors:</label>

      <div class="col-lg-9">
        <%= @book.author %>
      </div>
    </div>

    <div class="row">
      <label class="col-lg-3">ISBN:</label>

      <div class="col-lg-9">
        <%= @book.isbn %>
      </div>
    </div>

    <div class="row">
      <label class="col-lg-3">Edition:</label>

      <div class="col-lg-9">
        <%= @book.edition %>
      </div>
    </div>

    <div class="row">
      <label class="col-lg-3">Description:</label>

      <div class="col-lg-9">
        <%= @book.description %>
      </div>
    </div>


    <div class="row">
      <label class="col-lg-3">Lent to:</label>
    </div>

    <table class="table">
      <tr>
        <th>Name</th>
        <th>Date of borrowing</th>
        <th></th>
      </tr>
      <tbody>
      <% @book_borrowers.each do |book_borrower| %>
          <tr>
            <td><%= book_borrower.borrower.name %></td>
            <td><%= book_borrower.date_of_borrowing %></td>
            <td><span class="glyphicon glyphicon-pencil"></span></td>
          </tr>
      <% end %>
      </tbody>

    </table>
  </div>
</div>

<li><a href="#" data-toggle='modal' class="add-new-borrower borrower-form-link">Add New Borrower</a></li>


