<div class="row">
  <div class="col-lg-4">
    <img src="<%= @book.image_url %>"/>
  </div>


  <div class="col-lg-8">


    <div class="row">
      <label class="col-lg-3">Title:</label>
      <%= @book.title %>
    </div>

    <div class="row">
      <label class="col-lg-3">Authors:</label>
      <%= @book.author %>
    </div>

    <div class="row">
      <label class="col-lg-3">ISBN:</label>
      <%= @book.isbn %>
    </div>

    <div class="row">
      <label class="col-lg-3">Edition:</label>
      <%= @book.edition %>
    </div>

    <div class="row">
      <label class="col-lg-3">Description:</label>
      <%= @book.description %>
    </div>


    <div class="row">
      <label class="col-lg-3">Lent to:</label>
      <% @book.lenders.each do |lender| %>
        <%= lender.name %>
        <%= lender.date_of_lending %>
      <% end %>
    </div>

  </div>
</div>

<li><a href="#" data-toggle='modal' id="add_new_lender">Add New Lender</a></li>


