<div>
  <strong>Title:</strong>
  <%= @book.title %>
</div>

<div>
  <strong>ISBN:</strong>
  <%= @book.isbn %>
</div>

<div>
  <strong>Edition:</strong>
  <%= @book.edition %>
</div>

<div>
  <strong>Description:</strong>
  <%= @book.description %>
</div>

<%= link_to 'edit', edit_book_path(@book) %>