<div class="row">
  <a href="#" data-toggle='modal' id="add_new_borrower" class="">
    <button class="btn btn-primary pull-right">+ Add New Borrower</button>
  </a>
</div>

<div class="row book-details">

  <input type="hidden" class="book-id" value=<%= @book.id %>>

  <div class="col-lg-1 col-md-2 col-sm-2 col-xs-2 image-div ">
    <img src="<%= @book.image_url %>"/>
  </div>

  <div class="col-lg-10 col-md-9 col-sm-9 col-xs-9">

    <div class="row book-info">
      <div class="col-lg-12">
        <h2 class="heading">
          <%= @book.title %>
        </h2>
      </div>
    </div>

    <div class="row book-info">
      <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3">By:</label>

      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
        <%= @book.author %>
      </div>
    </div>

    <div class="row book-info">
      <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3">ISBN:</label>

      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
        <%= @book.isbn %>
      </div>
    </div>

    <div class="row book-info">
      <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3">Edition:</label>

      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
        <%= @book.edition %>
      </div>
    </div>

    <div class="row book-info">
      <h3 class="heading col-lg-12">Book Overview:</h3>

      <div class="col-lg-12">
        <%= @book.description %>
      </div>
    </div>

    <% if !@isOnwerViewingBook %>
        <div class="row book-info">
          <h3 class="heading col-lg-12">Owners:</h3>

          <div class="col-lg-12">
            <% @book.owners.uniq.each do |owner| %>
                <%= owner.name %> (<%= @copies[owner.name] %>)
            <% end %>
          </div>
        </div>
    <% end %>


    <% if @isOnwerViewingBook %>
        <div class="row book-info">
          <h3 class="col-lg-12 heading">Lent to:</h3>

          <div class="col-lg-12">

            <% if !@book_borrowers.empty? %>
                <table class="table">
                  <tr>
                    <th>Name</th>
                    <th>Date of borrowing</th>
                    <th></th>
                  </tr>
                  <tbody>
                  <% @book_borrowers.each do |book_borrower| %>
                      <tr>
                        <td><%= book_borrower.borrower.name %></td>
                        <td><%= book_borrower.date_of_borrowing %></td>
                        <td>
                          <a data-method="delete" href="/borrowers/<%= book_borrower.id %>?book_id=<%= @book.id %>" class="glyphicon glyphicon-trash"></a>
                        </td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
            <% end %>
          </div>
        </div>
    <% end %>
  </div>
</div>


