<!DOCTYPE html>
<html>
<head>
  <title>BookSharingApp</title>
  <link rel="icon" href="/assets/favicon.ico" />
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
</head>
<body>

<div class='header row'>
  <div class='col-lg-4 col-md-6 col-sm-6'>
    <div class='logo'>Book Share</div>
  </div>
  <div class='col-lg-offset-4 col-lg-3 col-md-5 col-sm-5 col-xs-12'>
    <%= form_tag search_index_path, class: 'search-form', method: 'get' do %>
        <div class="input-group">
        <span class="input-group-btn">
           <div class="btn btn-default" type='button dropdown-toggle' data-toggle='dropdown'>
             <span id="selected_value">title</span>
             <span class="caret"></span>
           </div>
           <ul class='dropdown-menu' id="filter">
             <li><a>title</a></li>
             <li><a>author</a></li>
             <li><a>isbn</a></li>
             <li><a>tag</a></li>
           </ul>
        </span>
          <input type="hidden" value="title" name="filter" id="filter_by"/>
          <input type='text' name='value' class='form-control' id='search_box' placeholder='Search Your Book By Title'/>
        <span class='input-group-addon'>
          <button type='submit' class='btn'>
            <span class='glyphicon glyphicon-search'></span>
          </button>
        </span>
        </div>
    <% end %>
  </div>
</div>

<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse row" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li>
        <a href="/books/own_books">
          <span class='icon glyphicon glyphicon-retweet'></span>
          All Books
          <sup class='count count-own-books'><%= @own_books %></sup>
        </a>
      </li>
      <li>
        <a href="/books/shared_books">
          <sup class='icon glyphicon glyphicon-resize-full'></sup>
          Shared
          <sup class='count count-shared-books'><%= @shared_books %></sup>
        </a>
      </li>
      <li>
        <a href="/books/borrowed_books">
          <span class='icon glyphicon glyphicon glyphicon-resize-small'></span>
          Borrowed
          <sup class='count count-borrowed-books'><%= @borrowed_books %></sup>
        </a>
      </li>
      <li>
        <a href="" data-toggle='modal' id='add_new_book'>
          <span class='icon glyphicon glyphicon-plus'></span>
          Add New Book
        </a>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li>
        <a class="username">
          <span class='icon glyphicon glyphicon-user'></span>
          <%= session[:cas_user] %>
        </a>
      <li>
        <a href="/home/logout">
          <span class="glyphicon glyphicon-log-out"></span>
          Logout
        </a>
      </li>
      </li>
    </ul>
  </div>
</nav>

<div class='content'>
  <%= yield %>
</div>

<div class='row'>
  <div class="footer">Copyright &copy 2013, <a href="http://www.thoughtworks.com">ThoughtWorks</a>, Inc. All rights
    reserved.
  </div>
</div>
</div>


</body>
</html>
